body {
    background-color:  #ba4a00 ;
}

h1 {
    color:   #138d75  ;
    text-align: center;
}

/*Styling elements for my biography block*/
.bio {
    background-color: orange;
    padding: 10px;
    color: white;
    text-align:left
    display: block;
    margin-left: 150px;
    margin-right: 150px;
}
h2 {
    color: purple;
    text-align: center;
}
.yoga-list{
    color: green;
    list-style: circle;
}
.center{
    width: 100%;
    margin: auto;
    text-align:left;
}

.center-list{
    width: 25%;
    list-style-position: inside;
    text-align: left;
    display: inline-block;
}



