body {
    background-color:  #ba4a00 ;
}

h1 {
    color:   #138d75  ;
    text-align: center;
}

/*Styling elements for my biography block*/
.bio {
    background-color: orange;
    padding: 10px;
    color: white;
    text-align:center;
    display: block;
    margin-left: 450px;
    margin-right: 450px;
}
h2 {
    color: purple;
    text-align: center;
}

h3 {
    color: aqua;
    text-align: center;
}

.yoga-list {
    color: darkgreen;
    list-style: circle;
    text-align: left;
}
.center-list{
    width: 25%;
    list-style-position: inside;
    text-align: left;
    display: inline-block;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}